# Java
customer-service-backend/target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Node
customer-service-frontend/node_modules/
customer-service-frontend/dist/
customer-service-frontend/.vite/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# logs
*.log
